@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');



:root{

    --ligh-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b3032a8;
    --text-color: #ff686b;
    --roboto: "Roboto",sans-serif;
    --gugi: "Gugi",cursive;
    --sofia: "Sofia" cursive;

}

.primary-color{
    color: var(--primary-color)
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
color: var(--text-color);

}

.font-roboto{
    font-family: var(--roboto);
}


.light-blue{
    color: lightblue;
}


header{
    background-color: var(--primary-color);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .site-title{
    font-family: sans-serif ;
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
color: white;
}


    img{
        width: 100px;
        height: 72px;

    }





    .navbar-nav{
        padding: 0.8em 0em;
    }


    .navbar-nav .nav-link{
        font-size: 1.2em;
        color: var(--ligh-gray)!important;
    }


    .navbar-nav .nav-item .nav-link{
        padding: 0 1.3em;
    }

    .navbar-nav .basket-nav{
        margin-right: 6.5em;
    }
    


    /* main */
    

    .wrapper {
        padding: 0.8em 0em;
        height: calc(100vh - 50px);
        margin: 0 auto;
        width: 100%;
    }
    .slide-wrapper {
        box-shadow: 5px 5px 10px gray;
        height: 500px;
        margin: 0 auto;
        padding: 10px 10px;
        overflow: hidden;
        text-align: center;
        width: 80%;
    }
    .slide {
        display: none;
        margin: 2 auto;
        height: 100%;
        width: 90%;
    }
    .active-slide {
        display: inline-block;
    }
    .dot-wrapper {
        margin: 0 auto;
        position: relative;
        top: -25px;
        width: 80%;
    }
    .dot {
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
    }
    .dot:hover {
        cursor: pointer;
        opacity: 0.25;
    }
    .active-dot {
        background-color: gray;
    }
    .arrow {
        border-bottom: 30px solid transparent;
        border-top: 30px solid transparent;
        display: inline-block;
        height: 0;
        position: relative;
        width: 0;
        top: 150px;
    }
    .arrow:hover {
        cursor: pointer;
        opacity: 0.25;
    }
    #arrow-prev {	
        border-right: 30px solid gray;
        float: left;
    }
    #arrow-next {
        border-left: 30px solid gray;
        float: right;
    }
    





    /* books collection part */


    .small-container{
        padding: 0.8em 0em;
        margin: auto;
        max-width: 1080px;
        margin-left: 105px;
        margin-right: 5px;
        text-align: center;
    }
    .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: 0.5s;
    }
    .col-4 img{
        max-width: 100%;
    }
    .title{
        margin: 0px auto 80px;
        text-align: center;
        position: relative;
        line-height: 60px;
        color: #555;

    }
    .title::after{
        content: "";
        width: 80px;
        height: 5px;
        background: #ff523b;
        border-radius: 5px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    h4{
        color: #555;
        font-weight: normal;
    }
    .col-4 p{
          font-size: 14px;
    }
    .ratting .fa{
        color: #ff523b;
    }
    .col-4:hover{
        transform: translateY(-5px);
    }



    

    .footSection{
        z-index: 7;
        width: 100%;
        min-height: 48px;
        box-sizing: border-box;
        display: block;
    }
    
    .topFooter{
        display: block;
        background: #ebeeef;
        border-top: 1px solid rgba(0, 47, 52, .2);
        font-size: 14px;
        line-height: 20px;
    }
    
    .downFooter{
        margin: auto;
        width: 100%;
        padding: 16px;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
    }
    .downFooter section{
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .downFooter section ul{
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 8px;
    }
    
    .downFooter section ul li a{
        display: block;
        font-weight: 400;
        text-transform: none;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        color: rgba(0, 47, 52, .64);
    }
    
    .downFooter section ul li a:hover{
        color: black;
    }
    
    .lastFooter{
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        background: #002f34;
        padding: 16px 0;
    }
    
    .lastFooter2{
        flex-direction: row-reverse;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
    }
    
    .lastFooter2 section{
        color: #fff !important;
    }
    
    .lastFooter2 section a{
     color: #fff;
    }
    
    .fab fa-1x fa-facebook:hover{
        color: black !important;
    }
    .social_icons i:hover{
        cursor: pointer;
    
    }
    ._facebook:hover{
        color: blue;
    }
    ._twitter:hover{
        color:aqua;
    }
    ._instagram:hover{
        color: lightgrey;
    }
    ._youtube:hover{
        color: red;
    }
    